
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TestHack</title>
</head>
<body>
<div>
    <form name="badForm" method="post" action="http://jw.lzzy.net/st/login.aspx">
        <input type="text" name="txt_卡学号" id="txt_卡学号" value="admin"/>
        <input type="text" name="txt_密码" id="txt_密码" value="123456" />
        <input id="Rad_角色_0" type="radio" name="Rad_角色" value="学生" checked="checked">
        <input type="submit" value="破解"/>
    </form>
</div>
</body>
</html>
