*{
    margin:0;
    padding:0;
    border:0;
    list-style: none;
}
 a{
    color:#666;
    text-decoration: none;
}
/* 全局 */

/* 大盒子 */
.tuan{
    width:296px;
    /* background:yellowgreen; */
    margin:50px auto;
    padding:5px 15px;
    border:1px solid black;
}
/* end */
/* 第一个小盒子 */
.box01{
    
    /* background: gold; */
    width:296px;
    position: relative;
}
.pic{
    display: block;
   position: absolute;
    top:5px;
    left:80px;
}
.name{
    line-height: 45px;
}
p img{
    width:296px;
    height:180px;
}
/* li */
ul{
    position: absolute;
    bottom:10px;
    right:5px;
}
li{
    width:20px;
    height:20px;
    background:white;
    display: inline-block;
    text-align: center;
    margin:2px;
    border:2px solid red;

    cursor: pointer;
}
li:nth-child(1){
    background: yellow;
}

/* end one 小盒子 */
/* box2 */
.box02{
position: relative;
}
.tit a{
    font-size:14px;
color:black;
}
.tit a:hover{
    color:red;
}
.price{
    line-height: 60px;
}
.price span{
    /* font-family: "宋体"; */
    font-size:24px;
    color:orange;
    font-weight: bold;
}
em{
    font-style: inherit;
    font-size:14px;
}

.btn{
    width:80px;
    height:40px;
    background: orange;
    border:1px solid red;
    border-radius:5px;
    text-align: center;
    line-height: 40px;
    position: absolute;
    bottom:10px;
    right:0;
    color:white;
    font-size:20px;

    cursor: pointer;
}
/* end */